@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所 (基本タグ設定)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.sp {
	display: none;
}
html,body{
    width: 100%;
}
html {
	background-color: #fff;
	font-size: 62.5%;
}

body {
	text-align: center;
	line-height: 1.8;
	color: #1a1a1a;
	padding:0px;
	min-width: 1000px;
	font-weight:400;
	font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
	-webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

/* link */
a {
	color: #1a1a1a;
}
a:link {
	color: #1a1a1a;
}
a:visited {
	color: #1a1a1a;
}
a:hover {
	color: #1a1a1a;
}

#outer{
	width:100%;
	overflow:hidden;
}

.w100{
	width:100%;
}
.w70{
	width:70%;
}
.w50{
	width:50%;
}
.w40{
	width:40%;
}
.w30{
	width:30%;
}
.w20{
	width:20%;
}
.w10{
	width:10%;
}
.w05{
	width:5%;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 見出し設定 (ページ毎の調整はページで行う) 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.headline01{
	line-height:1.6;
	font-size:26px;
	font-size:2.6rem;
	text-align:center;
	font-weight:700;
	margin-bottom:30px;
	color:#4d4d4d;

}

.headline02{
	color:#4d4d4d;
	line-height:1.6;
	font-size:22px;
	font-size:2.2rem;
	text-align:center;
	font-weight:700;
	margin-bottom:30px;

	padding:0 10px 5px;
	text-align:center;
}
.headline02 span{
	border-bottom:2px dashed #5796f2;
	display:inline-block;
	padding:0 15px 5px;
}
.headline03{
	color:#4d4d4d;
	line-height:1.6;
	font-size:19px;
	font-size:1.9rem;
	font-weight:bold;
	margin-bottom:10px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 リンクボタン
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* 色なし */
.linkbtn1 {
}
.linkbtn1 a {
	display: inline-block;
	color: #fff;
	font-size: 15px;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 18px 30px 18px 35px;
	line-height: 1;
	border: 1px solid #ffffff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.linkbtn1 a:hover {
	bord1er: 1px solid #fff;
	color: #fff;
	text-decoration: none;
	background: rgba(255,255,255,0.2);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.linkbtn1 a:after {
	content: '→';
	padding-left: 10px;
}
/* 色あり */
.linkbtn2{
	text-align:center;
	margin-top:40px;
}
.linkbtn2 a {
	display: inline-block;
border:1px solid #db4545;
	line-height: 1;
	font-size: 15px;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 20px 60px 20px 70px;
	color: #fff;
	text-decoration: none;
	background: #db4545;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.linkbtn2 a:hover {
		background: #fff;
		color:#db4545;
		border:1px solid #db4545;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;


}
.linkbtn2 a:after {
	content: '→';
	padding-left: 10px;
}

.linkbtn3{

}
.linkbtn3 a{
	background:#5796f2;
	text-decoration:none;
	    padding: 6px 30px 6px 23px;
border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
	font-size:15px;
	font-size:1.5rem;
	color:#fff;

	margin-top:10px;
	text-align:center;
	display:inline-block;
	position:relative;
}
.linkbtn3 a::after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	content: "";
	width: 4px;
	height: 4px;
	margin-top: -3px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.linkbtn4 a{
	border:1px solid #999;
	text-decoration:none;
	    padding: 8px 53px 8px 46px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
	font-size:13px;
	font-size:1.3rem;


	margin-top:10px;
	text-align:center;
	display:inline-block;
	position:relative;
}
.linkbtn4 a::after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	content: "";
	width: 4px;
	height: 4px;
	margin-top: -3px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.linkbtn4 a:hover {
		background: #fff;
		color:#db4545 !important;
		border:1px solid #db4545 !important;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;


}

.linkbtn5 a{
	border:1px solid #d1d1d1;
	text-decoration:none;
    padding: 8px 98px 8px 91px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
	font-size:13px;
	font-size:1.3rem;
	margin-top:10px;
	text-align:center;
	display:inline-block;
	position:relative;
}
.linkbtn5 a::before {
	position: absolute;
	width: 13px;
	height: 13px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	content: "";
    right: 10px;
    top: 15px;
}

.linkbtn5 a::after {
	content: "";
	position: absolute;
    top: 20px;
	right: 15px;
	width: 3px;
	height: 3px;
	border-top: 1px solid #5796f2;
	border-right: 1px solid #5796f2;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.linkbtn5 a:hover {
		background: #db4546;
		color:#fff;
		border:1px solid #db4545;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#pan{
x	display: none;
font-size:11px;
margin-bottom:20px;
}


/*++++++++++++++++++++++++++++++
　　table
++++++++++++++++++++++++++++++*/

table.style01{

	margin:0 0px 20px;
font-size:15px;
font-size:1.5rem;
	width:100%;
		background:#fff;

}
table.style01 th{
text-align:left;
width:240px;
  background:#e6e6e6;
	padding:17px 30px 15px;
  border-bottom:1px solid #fff;
  	
}
table.style01 th em{
	color:#f00;
	padding-left:5px;
}
table.style01 td{
	background:#f2f2f2;
  border-bottom:1px solid #fff;
	padding:17px 30px 15px;
}

.privacy_cont{
	border:1px solid #aaa;
	padding:20px;
	height:250px;
	overflow:scroll;
}
.contentBlockBody {
	margin-bottom:20px;
}
.privacy_cont h4{
	font-weight:bold;
	font-size:14px;
	font-size:1.4rem;
	margin-bottom:5px;
}
.privacy_cont p {
	margin:0 0 1em;
	font-size:12px;
	font-size:1.2rem;
}
.agree{
	text-align:center;
	margin:20px 0 0;
}
.agree input{
	margin-right:5px;
	position:relative;
	top:1px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 フォーム
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
form input[type="text"],input[type="mail"],textarea,select{
	padding:5px 5px;
	font-size:16px;
	font-size:1.6rem;
x	width: 100%;
}
form input[type="radio"]{
	padding-right:10px;
	padding-left:10px;
	position:relative;
	left:-7px;
	top:1px;
}

form span.small{
	font-size:12px;
	font-size:1.2rem;
}
form .mt{
	margin-top:10px;
}
form .wide{
	width:500px;
}
form label{
	margin-right:20px;

}
form .submit_btn{
	text-align:center;
	margin-top:40px;
}
form .submit_btn input{
	cursor:pointer;
	background:#c30000;
	color:#fff;
	padding:15px 60px;
	display:inline-block;
	border:none;
}

.mw_wp_form_confirm span{
	display:none;
}
form .error{
	color:#f00;
	font-size:13px;
	font-size:1.3rem;
	padding-left:10px;
}
form .block label{
	display:block;
	margin-bottom:5px;
	cursor:pointer;
}

/*++++++++++++++++++++++++++++++
　　pager
++++++++++++++++++++++++++++++*/
.pagination {
    text-align: center;

     padding: 20px 0 40px;
}

.pagination .current {
    background: #2c2225;
    border: solid 1px #2c2225;
    color: #fff;
}
a.page-numbers, .pagination .current {
    border: solid 1px #2c2225;
    padding: 5px 8px;
    margin: 0 2px;
    text-decoration: none;
}

/*++++++++++++++++++++++++++++++
　アニメーション
++++++++++++++++++++++++++++++*/
.list-mv01 {
	opacity: 0;
	transform: translate(0, 60px);
	-webkit-transform: translate(0, 60px);
}
.mv01 {
	opacity: 1.0;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}