@charset "utf-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　レイアウト（ヘッダー / サイド / フッター）
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* wrapper
----------------------------------------------------------------------------------------------------*/
#outer {
	overflow: hidden;
	width: 100%;
}
.wrapper {
	width: 1000px;
	padding: 0 0px;
	margin: 0 auto;
	text-align: left;
}
/* header
----------------------------------------------------------------------------------------------------*/

header {
	border-top:3px solid #004aff;
	padding-top:20px;
	padding-bottom:20px;
}
header h1 {
	float: left;

}



header nav {
	margin-top:3px;
	float:right;
}
header nav ul {
	background:url(../../images/nav_line.png) repeat-y top right;
}
header nav ul li {
	display: inline-block;
	padding: 0;
	background:url(../../images/nav_line.png) repeat-y top left;

	
}
header nav ul li a {
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	padding:2px 18px;
	text-decoration: none;
	line-height: 1.2;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-align:center;
	font-weight:700;

}
header nav ul li a span{
	display:block;
	font-size: 10px;
	font-size: 1.0rem;
	color:#4d4d4d;
	margin-top:5px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
header nav ul li a:hover,
header nav ul li a:hover span {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color:#ffa200;
}
header nav ul li a.hover,
header nav ul li a.hover span {
	color:#ffa200;
}
header .contact{
	position:fixed;
	right:0px;
	top:85px;
	z-index:9999;
}
/* footer
----------------------------------------------------------------------------------------------------*/

#location{
	font-size:15px;
	font-size:1.5rem;
	line-height:1.2;
	padding-bottom:15px;
}
#location h2{
	margin-bottom:15px;
	
}
#location address{
	margin-bottom:5px;
}
#location .tel a{
	
	font-size:21px;
	font-size:2.1rem;
	text-decoration:none;
	
}
#location .tel a span{
	font-size:14px;
	font-size:1.4rem;

	position:relative;
	top:-2px;
	
	
}
footer {
	background:#2d3e5b;
	color:#fff;

}
footer nav {
	padding-top: 30px;
	padding-bottom: 5px;
	text-align: center;
	margin-top:15px;
}
footer nav ul {
	display:table;
	width:100%;
}
footer nav ul li {
text-align:left;
display:table-cell;
width:15%;

}

footer nav ul li a {
	
	text-align:left;
	line-height: 1.2;
	font-size: 15px;
	font-size: 1.5rem;
	text-decoration: none;
	color:#dae5ea !important;
}
footer nav a:hover {
	text-decoration: underline;
}
footer nav ul li p a{
	font-size: 13px;
	font-size: 1.3rem;
	color:#fff !important;
	margin-top:10px;
	display:block;
}
footer nav ul li p a:before{
	content:'- ';
}
footer .copy {
	color: #fff;
	text-align: center;
	font-size: 11px;
	font-size: 1.1rem;
	padding: 20px 0 20px;
	line-height: 1;
	border-top:1px solid #808080;
	margin-top:20px;

}
#page-top a {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: block;
	width: 128px;
}
/* contents（コンテンツ共通設定）
----------------------------------------------------------------------------------------------------*/
#contents.col2 {
	width: 810px;
	float: left;
	font-size: 14px;
	font-size: 1.4rem;
	text-align: left;
	padding-bottom: 50px;
}
#contents {
	margin: 0 auto;
	font-size: 14px;
	font-size: 1.4rem;
	text-align: left;
	padding-bottom: 50px;
	color:#505050;
}
#contents p{
	font-size: 16px;
	font-size: 1.6rem;
	line-height:1.9;
	margin-bottom:30px;
	
}
#sidebar ul.bnr {
}
#sidebar ul.bnr li {
	margin-bottom: 20px;
}
#sidebar ul.bnr li a {
	display: block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#sidebar ul.bnr li a:hover {
	display: block;
	opacity: 0.80;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/* 下層共通
----------------------------------------------------------------------------------------------------*/
/* ページタイトル */
#pagetitle {
	width: 100%;
	text-align: center;
	margin-bottom: 35px;
	background: url(../../images/pagetitle_bg.jpg) no-repeat top center;
	background-size: cover;
}
#pagetitle h2 {
	text-align:center;
	    font-weight: 900;
    color: #4d4d4d;
	font-size:24px;
    font-size: 2.4rem;
	line-height:1.2;
	padding:60px 0;
}
#page_price #pagetitle h2 {
	padding:60px 0 30px;
}
#pagetitle h2 span{
	display:block;
	margin-top:10px;
	font-weight:400;
	font-size:15px;
    font-size: 1.5rem;
}
#pagetitle p {
	text-align: center;
	font-size:13px;
	padding-bottom:30px;
}
.iziModal .iziModal-content{
	padding-bottom:30px !important;
}
.iziModal * {
    font-size: 15px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:40px;
    text-align: left;

}
.iziModal p{
	padding-bottom:10px;
}
.iziModal a{
	border:1px solid #5796f2;
	padding:5px 20px;
	text-decoration:none;
	color:#5796f2;
	margin-bottom:20px;
}
.iziModal a:hover{
	color:#fff;
	background:#5796f2;	
}

.iziModal .iziModal-header.iziModal-noSubtitle .iziModal-button {
    height: 30px;
    width: 30px;
    margin-top: -7px;
}