@charset "utf-8";

body {
	counter-reset: number 0;           /* number のカウンタを 0 にセット */
}
/* index
----------------------------------------------------------------------------------------------------*/
/* mainimg */

#page_index section.mainimage {
x	height: 380px;
}

.wideslider {
    width: 100%;
    height: 380px;
    text-align: left;
    position: relative;
    overflow: hidden;
}
 
.wideslider ul,
.wideslider ul li {
    float: left;
    display: inline;
    overflow: hidden;
}
 
.wideslider_base {
    top: 0;
    position: absolute;
}
.wideslider_wrap {
    top: 0;
    position: absolute;
    overflow: hidden;
 
}
.slider_prev,
.slider_next {
    top: 0;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    cursor: pointer;
}
.slider_prev {background: #fff url(../img/prev.jpg) no-repeat right center;}
.slider_next {background: #fff url(../img/next.jpg) no-repeat left center;}
 
.pagination {
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 15px;
    text-align: center;
    position: absolute;
    z-index: 200;
	display:none;
}
 
.pagination a {
    margin: 0 5px;
    width: 15px;
    height: 15px;
    display: inline-block;
    overflow: hidden;
    background: #333;
}
.pagination a.active {
    filter:alpha(opacity=100)!important;
    -moz-opacity: 1!important;
    opacity: 1!important;
}
 
/* =======================================
    ClearFixElements
======================================= */
.wideslider ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
 
.wideslider ul {
    display: inline-block;
    overflow: hidden;
}

#page_index section.menu {
	background: #e6e6e6;
}
#page_index section.news {
	background: url(../../images/index_news_bg.jpg) no-repeat;
	background-size: cover;
	padding: 43px 0;
}
#page_index section.recruit {
x	background: #5796f2 url(../../images/index_recruit.jpg) no-repeat top center;
x	height: 294px;
}
#page_index section.camp {
	padding-top:23px;
	padding-bottom:23px;

}
#page_index section.camp .left {
	float: left;
	margin-left:10px;
	margin-right:50px;
	margin-top:8px;
}

#page_index section.camp .left .top img {
	float: left;
}

#page_index section.camp .left .top .text {
	float: left;
	color:#5796f2;
	padding-left:10px;
	padding-bottom:5px;
	border-bottom: 3px dotted #004aff;
}
#page_index section.camp .left .top .text p {
	font-size:14px;
	margin-bottom:-5px;
}

#page_index section.camp .left .top .text h3 {
	font-size:17px;
}
#page_index section.camp .left .recruit{
	margin-top:30px;

}
#page_index section.camp .left .recruit a{
	display:block;
	background:#db4545;
	color:#fff;
	position:relative;
	padding:8px 10px;
	text-align:center;
	font-size:17px;
	text-decoration:none;
}
#page_index section.camp .left .recruit a::after {
	position: absolute;
	top: 50%;
	right: 15px;
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	margin-top: -6px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
#page_index section.camp .left .recruit img{
	width:40px;
	height:auto;
	margin:5px auto 5px;
	display:block;
}
#page_index section.camp .right {
	float: left;
}

#page_index section.camp dl {
	border-bottom:1px solid #d1d1d1;
	padding-top:10px;
	padding-bottom:10px;

}

#page_index section.camp a:hover dl {
	color:#ffa200;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

}

#page_index section.camp a:hover dt:before {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
    border: solid 1px #ffa200;
    display: block;
    float: left;
    line-height: 0px;
    margin-left: -23px;
    text-align: center;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    content: "";
    margin-top: 6px;
}


#page_index section.camp dt:before {
    border: solid 1px #5796f2;
    display: block;
    float: left;
    line-height: 0px;
    margin-left: -23px;
    text-align: center;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    content: "";
    margin-top: 6px;
}

#page_index section.camp dl dt {
	float: left;
	padding-left:20px;
	width: 120px;

}
#page_index section.camp dl dd {
	float: left;
	padding-left:30px;
	width: 580px;
  position: relative;
}

#page_index section.camp a:hover dl dd:after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
  border-top: solid 2px #ffa200;
  border-right: solid 2px #ffa200;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
}


#page_index section.camp dl dd:after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-top: solid 2px #d1d1d1;
  border-right: solid 2px #d1d1d1;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
}


#page_index section.menu {
	background: #e6e6e6;
	padding-top:40px;
	padding-bottom:40px;
}

#page_index section.menu li {
	width: 240px;
	background: #fff;
	margin-right:13px;
	float: left;
	padding-top:6px;
    position: relative;

}

#page_index section.menu li a {
	text-align: center;
	display: block;
	text-decoration: none;
}

#page_index section.menu li a:hover img {
	opacity: 0.7 ;
	transition: 1.0s ;
}
#page_index section.menu li a p {
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:0px;
}

#page_index section.menu li:last-child {
	margin-right:0px;

}

#page_index section.menu li:before {
    content: "";
    bottom: 0;
    right: 0;
    border-top: 1em solid transparent;
    border-right: 1em solid #b2c8ff;
    position: absolute;
    z-index: 100;
}

#page_index section.news h3 {
	font-size:17px;
	font-weight: bold;
	width: 70px;
	padding-bottom:5px;
	border-bottom: 2px dotted #004aff;
	margin-bottom:20px;
}
#page_index section.news a{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

}
#page_index section.news a:hover{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color:#ffa200;
}
#page_index section.news dl {
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #d1d1d1;
}

#page_index section.news dl dt {
	float: left;
} 
#page_index section.news dl dd {
	float: left;
	margin-left:40px;
} 

#page_index section.news dl dd a {
	text-decoration: none;
}#page_index section.news dl dd a:hover {
	color:#ffa200;
}
#page_index section.news .linkbtn4 {
	text-align: right;
	margin-top:20px;
}

#page_index section.recruit .left {
	width: 50%;
	background: url(../../images/index_recruit_photo1.jpg) no-repeat top center;
	background-size:cover;
	height: 294px;
	float: left;
}

#page_index section.recruit .right {
	width: 50%;
	height: 294px;
	float: left;
	text-align: center;
	background: #5796f2;
	position: relative;
}

#page_index section.recruit .right:before {

    content: "";
    top: 0;
    left: 0;
    border-bottom: 9em solid transparent;
    border-left: 11em solid #4e87d9;
    position: absolute;
    z-index: 100;
}
#page_index section.recruit .right:after {

    content: "";
    bottom: 0;
    right: 0;
    border-top: 11em solid transparent;
    border-right: 9em solid #4e87d9;
    position: absolute;
    z-index: 100;
}


#page_index section.recruit .right .en {
	font-size:17px;
	color:#bdccd4;
	padding-top:35px;
    margin-bottom:15px;
}

#page_index section.recruit .right h3 {
	font-size:26px;
	color:#fff;
	padding-bottom:20px;

}

#page_index section.recruit .right p {
	font-size:13px;
	color:#fff;
	margin-bottom:20px;
}

#page_index section.recruit .right a {
	font-size:14px;
	color:#fff;
}

/* page_service
----------------------------------------------------------------------------------------------------*/
#page_service section.topmenu {
	margin-bottom: 80px;
}
#page_service section.topmenu .text {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 0 150px;
}
#page_service section.topmenu .menu {
	background: #e4f0f4;
	margin: 30px 150px 50px;
	padding: 2% 40px 0;
}
#page_service section.topmenu .menu ul {
}
#page_service section.topmenu .menu ul li {
	margin: 0 3% 3% 0;
	display: inline-block;
	float: left;
}
#page_service section.topmenu .menu ul li:nth-child(3n) {
	margin-right: 0;
}
#page_service section.topmenu .menu ul li a {
	text-decoration: none;
	display: block;
	padding: 8px 25px 8px 40px;
	background: #fff url(../../images/service_menu_icon.svg) no-repeat 15px center;
}
#page_service section.service h3 {
	margin-bottom: 40px;
}
#page_service section.service .linkbtn3{
	margin-bottom:20px;
}
#page_service section.service .otherlink{
}
#page_service section.service .otherlink a{
	text-decoration:none;
	color:#5796f2;
	font-size:13px;
	font-size:1.3rem;
	
}
#page_service section.service .otherlink a:hover{
	text-decoration:underline;
}
#page_service section.service dl {
	margin-bottom: 40px;
	border-bottom: 2px dashed #ccc;
	padding-bottom: 30px;
}
#page_service section.service dl:last-child{
	margin-bottom: 40px;
	border-bottom: none;
	padding-bottom: 0px;
	
}
#page_service section.service dl dt {
	width: 430px;
	float: left;
	margin-right: 50px;
	padding-bottom: 10px;
}
#page_service section.service dl dt img{
	width:100%;
	height:auto;
}
#page_service section.service dl dd {
	overflow: hidden;
}
#page_service section.service dl dd h4 {
	color: #4d4d4d;
	font-weight: bold;
	font-size: 22px;
	font-size: 2.2rem;
	margin-bottom: 15px;
	position: relative;
}
#page_service section.service dl dd h4.icon1 {
	background: url(../../images/service_icon1.svg) no-repeat;
	padding-left: 55px;
}
#page_service section.service dl dd h4.icon2 {
	background: url(../../images/service_icon2.svg) no-repeat;
	padding-left: 55px;
}
#page_service section.service dl dd h4.icon3 {
	background: url(../../images/service_icon3.svg) no-repeat;
	padding-left: 55px;
}
#page_service section.service dl dd h4.icon4 {
	background: url(../../images/service_icon4.svg) no-repeat;
	padding-left: 55px;
}
#page_service section.service dl dd h4.icon5 {
	background: url(../../images/service_icon5.svg) no-repeat;
	padding-left: 55px;
}
#page_service section.service dl dd h4 a {
	position: absolute;
	right: 0;
	top: 8px;
	border: 1px solid #666666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 12px;
	font-size: 1.2rem;
	padding: 3px 10px;
	font-weight: normal;
}
#page_service section.service dl dd h4 .price{
	color:#5796f2;
	border:1px solid #5796f2;
	font-weight:normal;
	font-size: 12px;
	font-size: 1.2rem;
	padding:1px 10px;
	margin-left:15px;
	position:relative;
	top:-2px;
	
}
#page_service section.service dl dd p {
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 10px;
}
#page_service section.service dl dd ul {
	color: #2974ce;
	font-size: 15px;
	font-size: 1.5rem;
}
#page_service section.service dl dd ul li {
	margin-bottom: 0px;
}





#page_service section.service_col2.blue{
	background:#eef7ff;
	padding:40px 0 20px;
	
}
#page_service section.service_col2 dl {
	width: 475px;
	float: left;
	margin-right: 50px;
	padding-bottom: 10px;
}
#page_service section.service_col2 dl:nth-child(even){
	margin-right: 0px;	
}
#page_service section.service_col2 dl dt {

}
#page_service section.service_col2 dl dd {

}
#page_service section.service_col2 h4 {
	color: #4d4d4d;
	font-weight: bold;
	font-size: 22px;
	font-size: 2.2rem;
	margin-bottom: 15px;
	position: relative;
}
#page_service section.service_col2 h4.icon1 {
	background: url(../../images/service_icon1.svg) no-repeat;
	padding-left: 55px;
}

#page_service section.service_col2 h4 a {
	position: absolute;
	right: 0;
	top: 8px;
	border: 1px solid #666666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 12px;
	font-size: 1.2rem;
	padding: 3px 10px;
	font-weight: normal;
}
#page_service section.service_col2 h4 .price{
	color:#5796f2;
	border:1px solid #5796f2;
	font-weight:normal;
	font-size: 12px;
	font-size: 1.2rem;
	padding:1px 10px;
	margin-left:15px;
	position:relative;
	top:-2px;
	
}
#page_service section.service_col2 dl dt img{
	width:100%;
	height:auto;
	margin-bottom:10px;
}
#page_service section.service_col2 dl dd p {
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 10px;
}
#page_service section.service_col2 dl dd ul {
	color: #2974ce;
	font-size: 15px;
	font-size: 1.5rem;
}



#page_service section.loyal_description {
	background: #eef7ff;
	padding-bottom:20px;
}

#page_service section.loyal_description dl {
	width: 760px;
	margin:0 auto 45px;
}
#page_service section.loyal_description dl:last-of-type {
	margin-bottom:0px;
}

#page_service section.loyal_description dl dt img{
	width: 181px;
	height: 121px;
	float: left;
	margin-top:6px;
}

#page_service section.loyal_description dl dt {
	float: left;
}

#page_service section.loyal_description dl dd {
	float: left;
	width: 550px;
	margin-left:25px;

}
#page_service section.loyal_description dl dd h3{
	font-size:17px;
	color:#5796f2;
}
#page_service section.loyal_description dl dd p{
	font-size:13px;
}
#page_service section.loyal_description dl dd p .gray{
	color:;#4c4c4c;
	display: block;
}



#page_service section.service.bland dl.top{
	border-bottom: none;
	padding-bottom: 0px;
	margin-bottom:10px;
}
#page_service section.service.bland dl.bottom {
	border-top: 2px dashed #ccc;
	padding-top: 40px;
	margin-bottom:0;
	padding-bottom:0;
}
#page_service section.service.bland {
	padding:40px 0;
}
#page_service section.service_bland h3{
	margin-bottom:20px;
}
#page_service section.service_bland h4{
	text-align:center;
	margin-bottom:20px;
}
#page_service section.service_bland h4 .price{
	color:#5796f2;
	border:1px solid #5796f2;
	font-weight:normal;
	font-size: 12px;
	font-size: 1.2rem;
	padding:1px 10px;
	margin-left:15px;
	position:relative;
	top:-2px;

}

#page_service section.service.bland .middle {
}

#page_service section.service.bland .middle ul li {
	width: 50%;
	float: left;
}
#page_service section.service.bland .middle ul li:last-child {
	padding-left:28px;
}

#page_service section.service.bland .middle ul li img {
	margin-right:7px;
}
#page_service section.service.bland .middle ul li img:last-of-type {
	margin-right:0px;
}

#page_service section.service.bland .middle ul li h3 {
	font-size:16px;
	font-weight: bold;
	margin-bottom:0px;
}
#page_service section.service.bland .middle ul li p {
	font-size:12px;
	width: 475px;
	margin-top:7px;
}
/* page_shop
----------------------------------------------------------------------------------------------------*/
#page_shop section.icon_list {
	text-align: center;
}
#page_shop section.icon_list ul {
	border: 3px solid #c5daef;
	display: inline-block;
	padding: 20px 50px;
	margin-bottom: 30px;
}
#page_shop section.icon_list ul li {
	text-align: center;
	display: inline-block;
	padding: 0 20px;
	line-height: 1.6;
	font-size: 13px;
	font-size: 1.3rem;
}
#page_shop section.icon_list ul li img {
	padding-bottom: 10px;
}
#page_shop section.shop_list {
	background: #e6e6e6;
	padding: 30px 0 1px;
}
#page_shop section.shop_list ul {
}
#page_shop section.shop_list ul li {
	background: #fff;
	margin-bottom: 35px;
}
#page_shop section.shop_list ul li .title {
	border-bottom: 2px dashed #e6e6e6;
	padding: 11px 15px 8px 50px;
	margin-bottom: 15px;
}
#page_shop section.shop_list ul li .title h3 {
	float: left;
	font-weight: bold;
	font-size: 18px;
	font-size: 1.8rem;
	color: #4d4d4d;
}
#page_shop section.shop_list ul li .title .icon {
	float: right;
}
#page_shop section.shop_list ul li .title .icon img {
	padding-left: 10px;
	width: 40px;
	height: 30px;
}
#page_shop section.shop_list ul li .cont {
	padding: 0px 20px 10px 50px;
	font-size: 14px;
	font-size: 1.4rem;
	overflow: hidden;
}
#page_shop section.shop_list ul li .cont dl {
	margin-bottom: 5px;
}
#page_shop section.shop_list ul li .cont dl dt {
	width: 4em;
	margin-right: 40px;
	float: left;
}
#page_shop section.shop_list ul li .cont dl dd {
	overflow: hidden;
}
#page_shop section.shop_list ul li .cont dl dd .icon {
	padding-left: 20px;
	position: relative;
	top: 1px;
}
#page_shop section.shop_list ul li .photo {
	float: right;
	margin-right: 15px;
	width: 220px;
	padding-bottom: 15px;
}
#page_shop section.shop_list ul li .photo img {
	width: 100%;
	height: auto;
}
/* page_company
----------------------------------------------------------------------------------------------------*/
#page_company {
}
#page_company .menu {
}
#page_company .menu ul {
	margin-bottom: 50px;
}
#page_company .menu ul li {
	float: left;
	margin-right: 20px;
	position: relative;
}
#page_company .menu ul li:last-child {
	margin-right: 0;
}
#page_company .menu ul li img {
}
#page_company .menu ul li a:hover img {
	opacity: 0.7 ;
	transition: 0.3s ;
}
#page_company .menu ul li h3 {
	color: #fff;
	text-align: center;
	width: 100%;
	font-size: 23px;
	font-size: 2.3rem;
	font-weight: 700;
	line-height: 230px;
	position: absolute;
	top: 0;
}

#page_company .map {
	margin-bottom: 20px;
}
#page_company .map iframe {
	width: 100%;
	height: 400px;
	margin: 30px 0;
}
#page_company section.business h3 {
	margin-bottom: 40px;
}
#page_company section.business dl {
	margin-bottom: 20px;
}
#page_company section.business dl dt {
	width: 416px;
	float: left;
	margin-right: 50px;
	padding-top: 8px;
}
#page_company section.business dl dd {
	overflow: hidden;
}
#page_company section.business dl dd h4 {
	color: #4d4d4d;
	font-weight: bold;
	font-size: 22px;
	font-size: 2.2rem;
	margin-bottom: 10px;
}
#page_company section.business dl dd p {
	font-size: 14px;
	font-size: 1.4rem;
}


/* delivery
----------------------------------------------------------------------------------------------------*/
#page_delivery section.point{
	background:#ebeff0;
	margin-bottom:20px;
}

#page_delivery section.convenient {
	margin-bottom:20px;
}
#page_delivery section.convenient h3 {
	font-size:2.3rem;
	font-size:23px;
	text-align: center;
	font-weight: bold;
	padding-top:15px;
	margin-bottom:17px;
	color:#4d4d4d;
}

#page_delivery section.convenient ul {
	border:1px solid #85b9ed;
	width: 850px;
	padding-left:50px;
	padding-right: 50px;
	padding-top:20px;
	padding-bottom:20px;
	margin:0 auto;

}

#page_delivery section.convenient ul li {
	font-size:15px;
	list-style-type: disc;
}

#page_delivery section.step {
	width: 850px;
	margin: 0 auto;
}



#page_delivery section.step h3 {
	text-align: center;
	font-size:23px;
	font-weight: bold;
	padding-bottom: 32px;

}
#page_delivery section.step h3 .line {
	border-bottom:2px dashed #5796f2;
	padding-bottom: 5px;

}

#page_delivery section.step h3 .top {
	color:#2974ce;
	vertical-align: super;


}
#page_delivery section.step h3 .bottom {
	color:#2974ce;
}


#page_delivery section.step h3:before {
	background: url(../../images/car_icon.svg) no-repeat;
	content: "";
	padding-left: 55px;
}


#page_delivery section.step h4 {
	background: #85b9ed;
	color:#fff;
	text-align: center;
	vertical-align: middle; 
    line-height: 1.9;
	margin-bottom:18px;
}


#page_delivery section.step h4:after  {
	counter-increment: number 1;
    content: counter(number) " ";
    font-size: 23px;
    position: absolute;
    top: -9px;
    padding-left: 2px;
}

#page_delivery section.step h4:before  {
  width: 0;
  height: 0;
  border-left: 5px solid transparent ;
  border-right: 5px solid transparent;
  border-top: 10px solid #85b9ed;
  content: "";
  position: absolute;
  top:26px;
  left:50%;
}
#page_delivery section.step ul li {
	width: 18%;
	float: left;
	position: relative;
	margin-right:44px;
}

#page_delivery section.step ul li:after {
	width: 0;
	height: 0;
	border-top: 23px solid transparent ;
	border-bottom: 23px solid transparent;
	border-left: 15px solid #cccccc;
	content: "";
	position: absolute;
    right: -31px;
    top: 124px;
}

#page_delivery section.step ul li:last-of-type:after {
	border-top: 0px solid transparent ;
	border-bottom: 0px solid transparent;
	border-left: 0px solid #cccccc;
	content: "";

}




#page_delivery section.step dl dd {
	padding-top:10px;
	font-size: 13px;
}


#page_delivery section.shop {
	background: #e6e6e6;
	padding: 30px 0 1px;
	margin-top:50px;
}
#page_delivery section.shop ul {
}
#page_delivery section.shop ul li {
	background: #fff;
	margin-bottom: 35px;
}

#page_delivery section.shop ul li h3 {
	float: left;
	font-weight: bold;
	font-size: 18px;
	font-size: 1.8rem;
	color: #4d4d4d;
	width:220px;
	padding:15px 0 0 30px;
}
#page_delivery section.shop ul li .cont {
	width:530px;
	float:left;
	padding: 20px 30px 5px 10px;
	font-size: 14px;
	font-size: 1.4rem;
}
#page_delivery section.shop ul li .cont dl {
	margin-bottom: 7px;
}
#page_delivery section.shop ul li .cont dl dt {
	width: 6em;
	margin-right: 20px;
	float: left;
	background:#5796f2;
	color:#fff;
	text-align:center;
	font-size: 12px;
	font-size: 1.2rem;

}
#page_delivery section.shop ul li .cont dl dd {
	overflow: hidden;
	position:relative;
	top:-1px;
}

#page_delivery section.shop ul li .area {
	float: left;
	width: 230px;
	padding-top:18px;

}
#page_delivery section.shop ul li .area h4{
	font-weight:bold;
		font-size: 15px;
	font-size: 1.5rem;
	color:#5796f2;
	margin-bottom:1px;
}
#page_delivery section.shop ul li .area p{
	border:1px solid #5796f2;
	padding:3px 10px;
	margin-bottom:0;
	font-size: 14px;
	font-size: 1.4rem;
}





/* price
----------------------------------------------------------------------------------------------------*/
#page_deliveryform .area{
	background:#e6e6e6;
	padding:30px 0 20px;
	margin-bottom:30px;
}
#page_deliveryform .area h3{
	text-align:center;
	margin-bottom:0px;
}
#page_deliveryform .area h4{
	font-size: 16px;
	font-size: 1.6rem;
	xfont-weight:bold;
	margin-bottom:5px;
}
#page_deliveryform .area ul li{

}
	
#page_deliveryform .area input{
	display: none;
}

#page_deliveryform .area label{
	display: block;
	float: left;
	cursor: pointer;
	min-width: 160px;
	margin: 0;
	padding: 12px 30px;
	border-right: 1px solid #5796f2;
	background: #fff url(../../images/delivery_area_icon.svg) no-repeat right+10px center;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
	margin-right:30px;
	margin-bottom:15px;
}


#page_deliveryform .area input[type="radio"]:checked + label {
	background-color: #5796f2;
	color: #fff;
}



#page_deliveryform p.submit {
	text-align: center;
}

#page_deliveryform p.submit input {
	background: #db4545;
	border:1px solid #db4545;
	border: none;
	color: #fff;
	font-size: 15px;
	font-size: 1.5rem;
	text-decoration: none;
	margin: 0 auto;
	padding: 18px 70px 18px 75px;
	line-height: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
}

#page_deliveryform p.submit input:hover {
	opacity: 0.8;
}

#page_deliveryform p.privacy {
	text-align: center;
}



/* price
----------------------------------------------------------------------------------------------------*/


#page_price section.price_menu {
	background: #f2f2f2;
	padding: 30px 0 10px;	
	margin-bottom: 50px;
}

#page_price section.price_menu ul {
	text-align: center;
}
#page_price section.price_menu ul li {
	display: inline;
	padding: 0 10px;
}
#page_price section.price_menu ul li a {
	display: inline-block;
	padding: 3px 12px;
	margin-bottom: 20px;
	background: #5796f2;
	color: #fff;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	text-decoration: none;
	font-size: 13px;
	font-size: 1.3rem;
}


#page_price section.price_menu.fixed{
	position:fixed;
	width:100%;
	background: rgba(255, 255, 255, 0.9);
   		-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.10);
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.10);
	top:0;
	padding:10px 0 2px;
	z-index:9999;
}

#page_price section.price_menu.fixed a{
	margin-bottom: 10px;
}




#page_price .tab {
	overflow: hidden;
	margin-bottom: 15px;
	margin-top: -40px;
	border-bottom: 2px solid #eee;
	text-align: right;
}
#page_price .tab li {
	background: #eee;
	padding: 5px 25px;
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
}
#page_price .tab li.select {
	background: #5796f2;
	color: #fff;
	cursor: default;
}
#page_price .content li {
}
#page_price .hide {
	display: none;
}
#page_price section.price.fixed{
	padding-top:200px;
}
#page_price section.price h2{
	padding-top:40px;
}

#page_price section.price table {
	width: 100%;
	margin-bottom: 50px;
	font-size: 14px;
	font-size: 1.4rem;
}
#page_price section.price th {
	background: #ECE8E4;

	text-align: left;
}
#page_price section.price thead th{
	font-weight:bold;

}
#page_price section.price thead th a{
	text-decoration:none;
	border-bottom:1px dashed #666;
	padding-bottom:3px;
	display:inline-block;
	line-height:1.4;
}
#page_price section.price thead th a:after{
	content:'?';
	border:1px solid #999;
	color:#666;
	text-align:center;
	display:inline-block;
	line-height:1;
	margin-left:5px;
	padding:1px 5px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position:relative;
	top:1px;
}
#page_price section.price tbody th{
	text-align:left;
	background: #f6f6f6;

}
#page_price section.price .col2 tbody th{
	width:50%;

}
#page_price section.price .col3 tbody th{
	width:33.33%;

}

#page_price section.price td {
}
#page_price section.price th, #page_price section.price td {
	padding: 5px 20px;
	border: 1px solid #ccc;
	text-align: center;
}

/* page_recruit
----------------------------------------------------------------------------------------------------*/
#page_recruit section.recruit_list {
	background: #e6e6e6;
	padding: 30px 0 1px;
}
#page_recruit section.recruit_list ul {
}
#page_recruit section.recruit_list ul li {
	background: #fff;
	margin-bottom: 35px;
}
#page_recruit section.recruit_list ul li .title {
	border-bottom: 2px dashed #e6e6e6;
	padding: 11px 15px 8px 50px;
	margin-bottom: 15px;
}
#page_recruit section.recruit_list ul li .title h3 {
	float: left;
	font-weight: bold;
	font-size: 18px;
	font-size: 1.8rem;
	color: #4d4d4d;
}
#page_recruit section.recruit_list ul li .title h3 a{
	text-decoration:none;
}
#page_recruit section.recruit_list ul li .title h3 a:hover{
	text-decoration:underline;
}
#page_recruit section.recruit_list ul li .title h3 span{
	color:#db4545;
	border:1px solid #db4545;
	font-size:12px;
	font-weight:normal;
	position:relative;
	top:-1px;
	left:20px;
	padding:0 10px;
}
#page_recruit section.recruit_list ul li .title .more {
	float: right;
}
#page_recruit section.recruit_list ul li .title .more img {

}
#page_recruit section.recruit_list ul li .title .more a:hover img {
	opacity: 0.80;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}
#page_recruit section.recruit_list ul li .cont {
	padding: 10px 20px 10px 50px;
	font-size: 14px;
	font-size: 1.4rem;
	overflow: hidden;
}
#page_recruit section.recruit_list ul li .cont dl {
	margin-bottom: 15px;
	float:left;
	width:400px;
}
#page_recruit section.recruit_list ul li .cont dl dt {
	width: 6em;
	margin-right: 40px;
	float: left;
	background:#5796f2;
	color:#fff;
	text-align:center;
}
#page_recruit section.recruit_list ul li .cont dl dd {
	overflow: hidden;
}
#page_recruit section.recruit_list ul li .cont dl dd .icon {
	padding-left: 20px;
	position: relative;
	top: 1px;
}
#page_recruit section.recruit_list ul li .photo {
	float: right;
	margin-right: 15px;
	width: 220px;
	padding-bottom: 15px;
}
#page_recruit section.recruit_list ul li .photo img {
	width: 100%;
	height: auto;
}



/* page_privacy
----------------------------------------------------------------------------------------------------*/

#page_privacy .privacymsg h4 {
	background: #e6e6e6;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;

}

#page_privacy .privacymsg p {
	padding-left:10px;
	padding-right:10px;

}

#page_privacy .comp {
	font-weight: bold;
}

/* page_recruitform
----------------------------------------------------------------------------------------------------*/

#page_recruitform section.form form table th{
	position:relative;
}
#page_recruitform section.form form table th em {
	/*
	position: absolute;
	background: #5796f2;
	color: #fff;
	font-size: 10px;
	font-size: 1.0rem;
	display: inline-block;
	padding: 5px 10px 4px;
	right: 20px;
	margin-top: -3px;
	*/
}


#page_recruitform p.submit {
	text-align: center;
}

#page_recruitform p.submit input {
	background: #db4545;
	border:1px solid #db4545;
	border: none;
	color: #fff;
	font-size: 15px;
	font-size: 1.5rem;
	text-decoration: none;
	margin: 0 auto;
	padding: 18px 70px 18px 75px;
	line-height: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
}

#page_recruitform p.submit input:hover {
	opacity: 0.8;
}

#page_recruitform p.privacy {
	text-align: center;
}



section.form form table td input[type=text] {
	padding: 3px 8px;
}
section.form form table td input[type=radio] {
	padding-right: 10px;
	display: inline-block;
}
section.form form table td label {
	display: inline-block;
	cursor:pointer;
	padding-right:10px;
}
section.form form table td textarea {
	padding: 10px;
	width:100%;
}
section.form form p.submit {
	text-align: center;
	margin: 20px 0 80px;
}
section.form form p.submit input {
	background: #4d9db9;
	border: none;
	color: #fff;
	font-size: 15px;
	font-size: 1.5rem;
	text-decoration: none;
	margin: 0 auto;
	padding: 18px 70px 18px 75px;
	line-height: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
}
section.form form p.submit input:hover {
	background: #179ba5;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
section.form form p.submit input:after {
	content: '→';
	padding-left: 10px;
}

/* contact
----------------------------------------------------------------------------------------------------*/

#page_contact section section {
}
/*
#page_contact .tellink {
	margin-top: 20px;
}
#page_contact .tellink li a {
	display: block;
	width: 45%;
	margin-right: 3%;
	float: left;
	color: #fff;
	font-size: 17px;
	font-size: 1.7rem;
	padding: 10px 0 15px;
	text-align: center;
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#page_contact .tellink li a:hover {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#page_contact .tellink li a:after {
	position: absolute;
	top: 50%;
	right: 20px;
	display: block;
	content: "";
	width: 8px;
	height: 8px;
	margin-top: -3px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
#page_contact .tellink li.mail a {
	background: #8cc63f;
}
#page_contact .tellink li.mail a:hover {
	background: #a1d353;
}
#page_contact .tellink li.mail a:before {
	content: url(../../images/support_icon_mail.png);
	position: relative;
	top: 14px;
	left: -5px;
}
#page_contact .tellink li.tel a {
	background: #ff8f00;
}
#page_contact .tellink li.tel a:before {
	content: url(../../images/support_icon_tel.png);
	position: relative;
	top: 10px;
	left: -8px;
}
#page_contact .tellink li.tel a:hover {
	background: #ffa748;
}
*/
#page_contact .tel_contact {
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding-bottom: 50px;
}
#page_contact .tel_contact .center {
	margin: 10px auto 0;
	display: inline-block;
}
#page_contact .tel_contact .atesaki {
	border: 1px solid #ccc;
	background: #f2f2f2;
	padding: 15px 20px;
	margin: 10px 0;
	font-size: 13px;
	font-size: 1.3rem;
	text-align: center;
}
#page_contact .tel_contact .atesaki .com {
	line-height: 1.6;
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 10px;
}
#page_contact .tel_contact .atesaki .tel {
}
#page_contact .tel_contact .atesaki a {
	text-decoration: none;
	font-size: 26px;
	font-size: 2.6rem;
	line-height: 1.4;
	color: #4d9db9;
}
#page_contact .tel_contact .atesaki .time {
	font-size: 12px;
	font-size: 1.2rem;
}
#page_contact .tel_contact p {
	margin-bottom: 0px;
}
#page_contact .tel_contact .comment {
	font-size: 12px;
	font-size: 1.2rem;
	text-align: left;
}
/* apply
----------------------------------------------------------------------------------------------------*/
#page_apply section.apply {
	margin-bottom: 50px;
}
#page_apply section.apply p {
	margin-bottom: 20px;
}
#page_apply .atesaki {
	margin: 20px 0 30px;
	font-size: 13px;
	font-size: 1.3rem;
}
#page_apply .atesaki .left {
	width: 400px;
	float: left;
}
#page_apply .atesaki .right {
	width: 300px;
	float: right;
}
#page_apply .atesaki .box {
	border: 1px solid #ccc;
	padding: 15px 20px;
}
#page_apply .atesaki .box h3 {
	font-weight: bold;
	font-size: 15px;
	font-size: 1.5rem;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
#page_apply .atesaki .box .comment {
	font-size: 12px;
	font-size: 1.2rem;
	margin-bottom: 0;
}
#page_apply .atesaki .box .bg {
	background: #eee;
	margin-bottom: 3px;
	padding: 0 10px;
}
#page_apply .download {
	background: #eee;
	padding: 10px 0;
	text-align: center;
}
#page_apply .download h3 {
	font-size: 15px;
	font-size: 1.5rem;
}
#page_apply .download p {
	margin: 15px 0 !important;
}
#page_apply .download a {
	text-decoration: none;
	display: inline-block;
	text-align: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#page_apply .download a:hover {
	display: block;
	opacity: 0.80;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#page_apply .flow {
	margin: 10px 0;
}
#page_apply .flow {
	padding: 20px;
	background: #72b7bf; /* Old browsers */
	background: -moz-linear-gradient(left, #72b7bf 0%, #00a99d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #72b7bf 0%, #00a99d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #72b7bf 0%, #00a99d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72b7bf', endColorstr='#00a99d', GradientType=1 ); /* IE6-9 */
}
#page_apply .flow ul li {
	width: 166px;
	background: #fff;
	float: left;
	margin-right: 35px;
	position: relative;
	text-align: center;
}
#page_apply .flow ul li:last-child {
	margin-right: 0;
}
#page_apply .flow ul li:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 20px 14px;
	border-color: transparent transparent transparent #fff;
	color: #fff;
	position: absolute;
	right: -25px;
	top: 50%;
	margin-top: -20px;
	content: ' ';
}
#page_apply .flow ul li:last-child:after {
	display: none;
}
#page_apply .flow ul li h4 {
	color: #008ccf;
	font-size: 20px;
	font-size: 2.0rem;
	position: relative;
	top: 10px;
	font-family: 游明朝, YuMincho, "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", HG明朝E, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
#page_apply .flow ul li p {
	line-height: 1.6;
	font-size: 1.4px;
	font-size: 1.4rem;
	display: table-cell;
	vertical-align: middle;
	height: 112px;
	text-align: center;
	width: 166px;
	margin-bottom: 10px;
}
/* estimate
----------------------------------------------------------------------------------------------------*/
#page_estimate {
}
#page_estimate .form {
	width: 720px;
	margin: 0 auto;
}
#page_estimate .form input[type="text"] {
	padding: 6px;
	border: 1px solid #ccc;
}
#page_estimate .form select {
	padding: 6px;
	border: 1px solid #ccc;
}
#page_estimate em {
	color: #DC452F;
	padding-left: 5px;
	font-size: 12px;
	font-size: 1.2rem;
	position: relative;
	top: -1px;
}
#page_estimate .form .product {
	margin-bottom: 30px;
	margin-top: 20px;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}
#page_estimate .form .product dl {
	font-size: 16px;
	font-size: 1.6rem;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	margin-bottom: 20px;
	display: table;
	width: 100%;
}
#page_estimate .form .product dl dt {
	font-weight: 700;
	font-size: 17px;
	font-size: 1.7rem;
	padding-left: 20px;
	width: 130px;
	vertical-align: middle;
	display: table-cell;
}
#page_estimate .form .product dl dd {
	display: table-cell;
}
#page_estimate .form .product dl dd .box {
	background: #f5f5f5;
	border: 1px solid #ddd;
	padding: 12px 30px;
	display: inline-block;
}
#page_estimate .form .price {
	margin-bottom: 30px;
}
#page_estimate .form .price dl {
	border: 2px solid #DC452F;
}
#page_estimate .form .price dl dt {
	background: #DC452F;
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	font-size: 2.0rem;
	padding: 5px 0;
}
#page_estimate .form .price dl dd {
	xcolor: #4d9db9;
	font-size: 32px;
	font-size: 3.2rem;
	text-align: center;
	padding: 15px 0;
	line-height: 1;
}
#page_estimate .form .price dl dd span.tax {
	font-size: 13px;
	font-size: 1.3rem;
	padding-left: 5px;
}
#page_estimate .form .customer {
	background: #eee;
	margin-bottom: 30px;
}
#page_estimate .form .customer h3 {
	text-align: center;
	font-size: 20px;
	font-size: 2.0rem;
	xborder-bottom: 3px solid #fff;
	line-height: 1.2;
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #777;
	color: #fff;
}
#page_estimate .form .customer h3 span {
	display: block;
	font-size: 12px;
	font-size: 1.2rem;
	text-align: center;
	padding-top: 8px;
}
#page_estimate .form .customer dl {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 0 30px 15px;
	margin-bottom: 15px;
	border-bottom: 3px solid #fff;
	box-sizing: border-box;
	display: table;
	width: 100%;
}
#page_estimate .form .customer dl dt {
	width: 200px;
	vertical-align: middle;
	display: table-cell;
}
#page_estimate .form .customer dl dd {
	display: table-cell;
}
#page_estimate .form .customer dl dd input {
	width: 100%;
	box-sizing: border-box;
}
#page_estimate .form .kiyaku_check {
	text-align: center;
	margin-bottom: 0;
}
#page_estimate .form .kiyaku_check label {
	cursor: pointer;
}
#page_estimate .form .dllink {
	text-align: center;
	margin-top: 30px;
}
#page_estimate .form .dllink a {
	display: inline-block;
	padding: 12px 40px 12px 60px;
	background: #DC452F;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 22px;
	font-size: 2.2rem;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#page_estimate .form .dllink a:before {
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(../../images/icon_pdf.svg) no-repeat 50% 100%;
	content: '';
	position: relative;
	top: 6px;
	left: -15px;
}
#page_estimate .form .dllink a:hover {
	background: #ed5d48;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#page_estimate .form .dllink a.disable {
	background: #f9b8af;
	cursor: default;
}


/* inquiry
----------------------------------------------------------------------------------------------------*/

#page_inquiry form p.submit {
	text-align: center;
}

#page_inquiry form p.submit input {
	background: #db4545;
x	border:1px solid #db4545;
	border: none;
	color: #fff;
	font-size: 15px;
	font-size: 1.5rem;
	text-decoration: none;
	margin: 0 auto;
	padding: 18px 70px 18px 75px;
	line-height: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
}

#page_inquiry form p.submit input:hover {
	opacity: 0.8;
}

#page_inquiry form p.privacy {
	text-align: center;
}



/* contact
----------------------------------------------------------------------------------------------------*/
#page_contact section.form {
	padding: 30px 0 0;
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
#page_contact #form {
	margin-top: 30px;
}
#page_contact section h2 {
	margin-bottom: 25px;
	text-align: center;
}
#page_contact section p.text {
	text-align: center;
	margin-bottom: 30px;
	line-height: 2;
}
#page_contact section.form form {
}
input[type="button"], input[type="submit"] {
	-webkit-appearance: none;

}




#page_contact section.form form table {
	width: 100%;
	margin-bottom: 30px;
	border-top: 1px solid #ddd;
}
#page_contact section.form form table th {
	font-size: 15px;
	font-size: 1.5rem;
	text-align: left;
	position: relative;
	vertical-align: middle;
	padding: 10px 80px 5px 20px;
	line-height: 1;
	border-bottom: 1px solid #ddd;
	white-space: nowrap;
	background: #eee;
}
#page_contact section.form form table th em {
	position: absolute;
	background: #4d9db9;
	color: #fff;
	font-size: 10px;
	font-size: 1.0rem;
	display: inline-block;
	padding: 5px 10px 4px;
	right: 20px;
	margin-top: -3px;
}
#page_contact section.form form table td {
	padding: 10px 20px 10px;
	font-size: 15px;
	font-size: 1.5rem;
	border-bottom: 1px solid #ddd;
}
#page_contact section.form form table td input[type=text] {
	padding: 3px 8px;
}
#page_contact section.form form table td input[type=radio] {
	padding-right: 10px;
	display: inline-block;
}
#page_contact section.form form table td label {
	margin-bottom: 10px;
	margin-top: 5px;
	display: block;
}
#page_contact section.form form table td textarea {
	padding: 10px;
}
#page_contact section.form form p.submit {
	text-align: center;
	margin: 20px 0 80px;
}

#page_contact form p.submit input:hover {
	background: #179ba5;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#page_contact form p.submit input:after {
	content: '→';
	padding-left: 10px;
}
#page_contact section.form .privacy {
	text-align: center;
	margin-bottom: 6%;
}
#page_contact section.form .privacy a {
	color: #000;
}
#page_contact section.form .privacy label {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 5px 15px;
	margin-top: 20px;
	cursor: pointer;
}
#page_contact section.form .privacy label input {
	position: relative;
	top: 2px;
}
.mw_wp_form_confirm th {
	width: 160px;
}
.mw_wp_form_confirm em {
	display: none !important;
}
.mw_wp_form_confirm .privacy {
	display: none;
}
.mw_wp_form_confirm .submit input {
	margin: 0 10px !important;
}
/* single
----------------------------------------------------------------------------------------------------*/

ul.page_link {
	padding-top: 30px;
	margin-bottom: 30px;
}
ul.page_link li a {
	font-size: 13px;
	display: inline-block;
	padding: 6px 15px 3px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #fefefe;
	text-decoration: none;
	color: #717171;
}
ul.page_link li a:hover {
	background: #efefef;
}
ul.page_link li.prev {
	float: left;
}
ul.page_link li.next {
	float: right;
}
.news_entry {
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
.news_entry .entry-header h3 {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
	padding: 3px 0px 10px;
	font-weight: bold;
}
.news_entry .entry-header span.date {
	font-size: 11px;
	line-height: 1;
	margin-right: 15px;
}
.news_entry .entry-header .name {
	font-size: 11px;
	line-height: 1;
	display: inline-block;
	color: #B3B3B3;
}
.news_entry .entry-content {
	font-size: 14px;
	font-size: 1.4rem;
}
.news_entry .entry-content img {
	max-width: 100%;
	margin-bottom: 10px;
}
.news_entry .entry-content p {
	margin-bottom: 10px;
}
.news_entry .entry-content h3 {
	background: url(../../images/headline01.gif) no-repeat left center;
	padding-left: 20px;
	font-size: 17px;
	font-size: 1.7rem;
	font-weight: 700;
	margin-bottom: 10px;
}
.news_entry .entry-content h4 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 16px;
}
.news_entry .entry-content strong {
	font-weight: bold;
}
.news_entry .entry-content ul {
	list-style: circle;
}
.news_entry .entry-content ol {
	list-style: decimal;
}
.news_entry .entry-content a {
	text-decoration: underline;
}
.news_entry .entry-content blockquote {
	color: #999;
}
.news_entry .entry-content em {
	color: #000;
	font-weight: normal;
}

/* page_newslist
----------------------------------------------------------------------------------------------------*/

#page_newslist section.news h3 {
	font-size:17px;
	font-weight: bold;
	width: 70px;
	padding-bottom:5px;
	border-bottom: 2px dotted #004aff;
	margin-bottom:20px;
}
#page_newslist section.news a{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

}
#page_newslist section.news a:hover{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color:#ffa200;
}
#page_newslist section.news dl {
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #d1d1d1;
}

#page_newslist section.news dl dt {
	float: left;
} 
#page_newslist section.news dl dd {
	float: left;
	margin-left:40px;
} 

#page_newslist section.news dl dd a {
	text-decoration: none;
}
#page_newslist section.news dl dd a:hover {
	color:#ffa200;
}
#page_newslist section.news .linkbtn4 {
	text-align: right;
	margin-top:20px;
}


/* 404
----------------------------------------------------------------------------------------------------*/

section.page404 {
	padding: 60px 0 120px;
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
}
section.page404 a {
	color: #000;
}
