@charset "utf-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　レイアウト（ヘッダー / サイド / フッター）
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* wrapper
----------------------------------------------------------------------------------------------------*/
#outer {
	overflow: hidden;
	width: 100%;
}
.wrapper {
	width: 100%;
	padding: 0 0px;
	margin: 0 auto;
	text-align: left;
}
.pc{
	display:none !important;
}
/* header
----------------------------------------------------------------------------------------------------*/

header {
	border-top:3px solid #004aff;
	width:100%;
	background:#fff;
	padding:3px 0;
}
header .top {
	padding-top: 22px;
	padding-bottom: 18px;
	width: 100%;
	font-size: 13px;
}

header h1 {
	color: #585755;
	font-size: 13px;
	text-align:left;
	padding: 5px 2% 5px 2%;
}
header h1 img{
	width:auto;
	height:33px;
}
header .menu {
	height: 33px;
	text-align: right;
	overflow: hidden;
	position: absolute;
	    top: 15px;
    right: 10px;
}
header .menu img {
	padding: 0px 5px 0 0;
}
#closeMenu {
	display: none;
	z-index: 10001;
}
#openMenu img, #closeMenu img {
	width: 30px;
	height: auto;
	z-index: 10001;
}
#overray {
	display: none;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	    margin-top: 50px;
}
#closeMenu {
	display: none;
}
#layerMenu {
	border-top:1px solid #004aff;
	margin-top: 50px;
	position: absolute;
	top: 0px;
	display: none;
	width: 100%;
	z-index: 10010;
	background:rgba(50,32,10,1);
}
/* メニュー */
header nav ul {
	overflow: hidden;
	background: #fff;
	width:100%;
}
header nav ul li {
	padding: 1% 0;
	width: 100%;
	text-align: left;
	vertical-align: middle;
	border-bottom: #ccc solid 1px;
	/*border-left: #004aff solid 1px;
	border-right: #004aff solid 1px;
*/
}
header nav ul li:last-child {
	border-bottom: #004aff solid 1px;
}
header  nav ul li a {
		font-size:13px;
	text-decoration: none;
	padding: 1.5% 2% 1.5% 4%;
	display: block;
	position: relative;
	text-align: left;
	overflow: hidden;
}

header nav ul li a::after {
	position: absolute;
	top: 50%;
	right: 11px;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	margin-top: -3px;
	border-top: 1px solid #004aff;
	border-right: 1px solid #004aff;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* footer
----------------------------------------------------------------------------------------------------*/

footer{
	background:#2d3e5b;
	color:white;

}

footer nav {
	background:#2d3e5b;
	padding:4%;
}

footer nav ul {
	background:rgba(255,255,255,0.95);
	margin: 0 0% 0%;
}

footer nav ul li {
	padding: 0% 0%;
	width: 100%;
}
footer nav ul li a {
	text-align:left;
	text-decoration:none;
	display: block;
	border-bottom: 1px solid #aaa;
	padding: 2% 4%;
	position: relative;
	font-size:14px;
	font-size:1.4rem;
}
footer nav ul li:last-child a{
x	border-bottom: none;
}
footer nav ul li a::after {
	position: absolute;
	top: 50%;
	right: 4%;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	margin-top: -3px;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
footer .company a {
	text-decoration: none;
	background: #1a7a8f;
	color: #fff;
	font-size: 12px;
	font-size: 1.2rem;
	display: block;
	padding: 7px 10px;
	width:60%;
	margin:0 auto 2%;
		-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position:relative;
}
footer .company a::after {
	position: absolute;
	top: 50%;
	right: 4%;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	margin-top: -3px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
footer .company a:hover{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
		background: #2693a5;
}
footer .privacy {
	display: block;
	margin-bottom:2%;
}
footer .copy {
	font-size: 9px;
	text-align: center;
	color: #fff;
	padding:1.5% 0 4%;
	background:#2d3e5b;
}
#page-top a {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999;
	text-align: center;
	text-decoration: none;

	color: #fff;
	display: block;
}#page-top a img{
	width:80px;
}
#location {
	margin-bottom:6%;
	margin-top:6%;

}


/* contents（コンテンツ共通設定）
----------------------------------------------------------------------------------------------------*/
#contents.col2 {
	width: 810px;
	float: left;
	font-size: 14px;
	font-size: 1.4rem;
	text-align: left;
	padding-bottom: 50px;
}
#contents {
	margin: 0 auto;
	font-size: 13px;
	font-size: 1.3rem;
	text-align: left;
	color:#505050;
}
#contents p{
	font-size: 13px;
	font-size: 1.3rem;
	line-height:1.9;
	padding-bottom:4%;
	margin-left:4%;
	margin-right:4%;
	xpadding:4%;
	
}
#sidebar ul.bnr {
}
#sidebar ul.bnr li {
	margin-bottom: 20px;
}
#sidebar ul.bnr li a {
	display: block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#sidebar ul.bnr li a:hover {
	display: block;
	opacity: 0.80;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/* 下層共通
----------------------------------------------------------------------------------------------------*/
/* ページタイトル */
#pagetitle {
	width: 100%;
	text-align: center;
	margin-bottom: 4%;
	background: url(../../images/pagetitle_bg.jpg) no-repeat top center;
	background-size: cover;
}
#pagetitle h2 {
	text-align:center;
	    font-weight: 900;
    color: #4d4d4d;
	font-size:18px;
    font-size: 1.8rem;
	line-height:1.2;
	padding:8% 0;
}
#page_price #pagetitle h2 {
	padding:8% 0 4%;
}
#pagetitle h2 span{
	display:block;
	margin-top:5px;
	font-weight:400;
	font-size:13px;
    font-size: 1.3rem;
}
#pagetitle p {
	text-align: center;
	font-size:11px;
	padding-bottom:4%;
}
.iziModal .iziModal-content{
	padding-bottom:30px !important;
}
.iziModal * {
    font-size: 15px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:40px;
    text-align: left;

}
.iziModal p{
	padding-bottom:10px;
}
.iziModal a{
	border:1px solid #5796f2;
	padding:5px 20px;
	text-decoration:none;
	color:#5796f2;
	margin-bottom:20px;
}
.iziModal a:hover{
	color:#fff;
	background:#5796f2;	
}

.iziModal .iziModal-header.iziModal-noSubtitle .iziModal-button {
    height: 22px;
    width: 30px;
    margin-top: -7px;
    margin-right: -11px;
}